html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* Стили для текста */

:root {
    --accent-color: #F7654A ;
    --dark-color: #404149;
    --grey-color: #999999 ;
    --white-color: #fff;
    --background-color: #e5e5e5;

}

.text-h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;

}

.text-h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 21px;
    
}

.text-p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.text-p-reviews {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;

}

.header {
    min-height: 740px;
    background-image: url(/img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_title {
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;

}

.logo {
    width: 60px;
    height: 60px;
}
.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: var(--white-color);
    margin-bottom: 4px;
}
.burger__line:last-child{
    margin-bottom: 0;
}
.h1 {
    font-family: "Oswald", sans-serif;;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white-color);
    max-width: 734px;
    margin: 0 auto 17px;
    
}
.h4 {

    font-family: "Oswald", sans-serif;;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--white-color);
    max-width: 734px;
    margin: 0 auto;
    
}
.about {
    padding-top: 250px;
    position: relative;
    min-height: 1080px;

}
.info {
    position: absolute;
    top: -150px;
    left: 50%;
    background-color: #f7f7f7;
    max-width: 1110px;
    min-height: 300px;
    transform: translateX(-50%);
    width: 100%;
    padding: 57px 130px;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}
.about__grid-item {

    text-align: center;
    width: 190px;

}
.about__h4 {
    color: var(--accent-color);
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 72px;
    margin-bottom: 5px;
}
.about__h5 {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}
.about__p {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--grey-color);
}
@media screen and (max-width: 1105px){
    .about__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }
}
@media screen and (max-width: 768px){
    .info{
        position: relative;
    }
    .about__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        justify-items: center;
    }
}

.project-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.about__flex {
    display: flex;

}
.about__flex-item {
    max-width: 350px;
    margin-right: 30px;
}
.about__flex-item:last-child {
    margin-right: 0px;
}

.project__img {
    margin-bottom: 45px;
}

.rectangle {
    width: 56px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
}

.project-h3 {
    color: var(--dark-color);
    margin-bottom: 12px;
}

.project-p{
    color: var(--grey-color);
}

.about__orange{
    margin-top: 125px;
    background-color: var(--accent-color);
    height: 181px;
    
}
.about__forFlex {
    display: flex;
    justify-content:space-between;

}
.about__h3{
    letter-spacing: 1px;
    font-family:  "Oswald", sans-serif;
    color: var(--white-color);
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
}
.text__h6{
    letter-spacing: 0.5px;
    margin-top: 5px;
    font-family:  "Oswald", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--white-color);
    text-transform: uppercase;

}
.flex__texts{
    padding: 0;
    margin-top: 30px;
    margin-bottom: 45px;
}

.about__button{
    display: flex;
    gap: 15px;
    justify-content:center;
    align-items: center;
    width: 175px;
    height: 49px;
    margin-top: 73px;
    margin-bottom: 59px;
    background-color: #FFFFFF;
    border: 0px;
}

.about__button>p{
    font-family:  "Oswald", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 1px;

}

@media screen and (max-width: 1280px){
    .about{
        padding: 450px 15px 110px 15px;
    }
@media screen and (max-width: 768px){
    .about{
        padding-top: 150px;
        padding-bottom: 80px;
    }
 .about__flex{
    flex-direction: column;
    align-items: center;
 }
 .about__flex-item {
    margin-right: 0px;
    margin-bottom: 30px;
}
.about__flex-item:last-child{
    margin-bottom: 0;
}
}
@media screen and (max-width: 1175px){
    .about__forFlex {
        padding-right: 30px;
        padding-left: 30px;
    }
} 
@media screen and (max-width: 768px){
    .about__forFlex {
        flex-wrap: wrap;
        background-color: #F7654A;
    }
    button.about__button{
        margin-top: 5px;
    }
}